$managerBg: #ffbd59;
$managerTitle: #02004a;
$managerText: #ffffff;
.manager {
  background: $managerBg;
  article {
  position: relative;
  }
  .artTitle {
    position: relative;
    z-index: 1;
  }
  .bgimg {
    position:absolute;
    right: -100px;
    left: 0;
    z-index: 0;
    transform: rotate(35deg) scale(2);
    width: 100%;
    height: 100%;
    max-width: 600px;
  }
  section {
    position: relative;
    img {
      display: block;
      width: 90%;
      margin: auto;
    }
    h4 {
      color: $managerTitle;
    }
    h5 {
      color: $managerText;
    }
    h4,
    h5 {
      padding: 0.8rem 1rem;
    }
    li {
      padding: 1em;
    }
  }
  section {
    z-index: 1;
  }
}

@media screen and (min-width: 768px) {
  .manager {
    article {
      display: flex;
      flex-direction: row-reverse;
      section {
        img {
          width: 100%;
          max-width: 780px;
        }
        &:first-child {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
        }
        &:last-child {
          padding: 1em;
          padding-top: 3em;
        }
      }
    }
  }
}
