.store {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  .outmap {
    display: flex;
    justify-content: center;    
    align-content: center; 
  }
  .map {
    width: 100%;
    max-width: 1200px;
  }
  article {
    padding: 0.5em 1em;
    margin: auto;
    section {
      padding: 1em;
      img {
        display: block;
        margin: auto;
        width: 100%;
        max-width: 600px;
        padding: 2em;
        box-sizing: border-box;
      }
      p:first-child {
        font-weight:bold
      }
      p {
        color: rgb(97, 45, 45);
        padding: 0.3em 0;
      }
      .introduction {
        color: grey;
        padding: 1em 0;
      }
    }
    section:last-child {
      background-color: #e5e5f7;
      opacity: 1;
      background-image: radial-gradient(circle at center center, #ffffff, #e5e5f7), repeating-radial-gradient(circle at center center, #ffffff, #ffffff, 4px, transparent 8px, transparent 4px);
      background-blend-mode: multiply;
      border-radius: 20px;
    }
  }
}

@media screen and (min-width: 768px) {
  .store {
    article {
      max-width: 1200px;
      padding-top: 2em;
      display: flex;
      flex-direction: row-reverse;
      section {
        width: 100%;
        img {
          max-width: 500px;
          padding: 0;
          padding-top: 2em;
        }
      }
    }
  }
}
